*{

margin: 0;
padding: 0;
font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}


.btn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 8px 28px;
  font-size: 16px;
  cursor: pointer;
}

.default {
  border-color: #B2ACAB;
  color: black;
}



.header

{

	min-height: 100vh;
	width: 100%;
}

nav{
display: flex;
padding: 3% 8%;
justify-content: space-between;
align-items: center;
}

 img{  
 height: 400px;  
 width: 400px;  

 }  



.nav-links{
	flex: 1;
	text-align: right;
}


.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 7px 15px;
	position: relative;
}

.nav-links ul li a{
color:#B2ACAB;
text-decoration: none;
font-size: 15px;

	}



.BG{    
 	
	background-color: #EBF9F6;
	background-repeat: no-repeat;
	padding: 10%;
	
 }

.left{    
 	text-align: left;  
 	padding-left:  10%;
 	bottom: 20px;

	
 }
 .left1{    
 padding-top: 15px;
 	font-size: 35px;	

  position: sticky;

 }


.right{    
 	text-align: right; 
 	padding-right: 8%;
 	top: 26px; 

 }





 .top{
  position: absolute;
  top: 30px;

}
 

 .button {
 

  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 2px;
  cursor: pointer;
   padding: 7px 36px 7px;

}

.button1 {

  background-color: white; 
  color: black; 
  border: 2px solid #3AAEF5;
  border-radius: 7px;
  
   
}

.button2 {
  background-color: #4CAF50; 
  color: white; 
   border: 2px solid #4CAF50;
  border-radius: 7px;

  
}

 .left2{    
 padding-top: 15px;
 	font-size: 16px;	
 }

 .sec2

 {

 padding-top: 8%;
 	padding-left:  19%;
 	color: #4CAF50;

 }


 .sec3{
padding-top: 8%;
 	padding-left:  19%;
 	color: black;

 }

	

 .sec3one{
	
  height: 250px;
  width: 250px;
  background-color: #FDEDEC ;
font-size: 11px;

background-image: url(Img/youtube.png);
background-repeat: no-repeat;

}
 



.sec3two{
	margin-top: -19%;
	margin-left: 30%;
    height: 250px;
    width: 250px;
    background-color: #F4F6F6  ;
   font-size: 11px;

   background-image: url(Img/eye1.png);
background-repeat: no-repeat;
}

.sec3three{
	margin-top: -19%;
	margin-left:60%;
    height: 250px;
  width: 250px;
  background-color: #E9F7EF ;
   font-size: 11px;
   background-image: url(Img/android.png);
background-repeat: no-repeat;
}

.fluid{

padding-left:  16%;
	padding-top: 110px;
	

}

.fluid1{

padding-left:  16%;
	
	

}

.BG1{    
 	
	background-color: #EBF9F6;
  padding-top: 65%;
margin-left: 8%;
    height: 70%;
    width: 85%;
    


 }

 .DataSharing{

margin-top: -52%;
margin-left: 50%;
font-size: 40px;
padding-right: 30%;


 }


 .DataSharing1{


margin-left: 50%;
font-size: 20px;
margin-top: 10px;

 }


 .DataSharing2{


margin-left: 50%;
font-size: 15px;
margin-top: 12px;
padding: 5px 5px;
vertical-align: -40%;

 }

     .DataSharing3{


margin-left: 18%;
font-size: 17px;

margin-top: -22px;

color: black;
display: block;


 }
        .fa{
      list-style-type:none;

    }

    .g{

      color: greenyellow;
      padding-top: 15px;
    }


     .High{


margin-left: 20%;
font-size: 40px;

margin-top: 10%;

 }


 .High1{

margin-left: 20%;
font-size: 20px;
margin-top: 10px;

 }


 .High2{


margin-left: 20%;
font-size: 15px;
margin-top: 12px;
padding: 5px 5px;
vertical-align: -40%;

 }

     .High3{


margin-left: 20%;
font-size: 17px;

margin-top: -22px;

color: black;
display: block;


 }

 .sec4

 {

 padding-top: 20%;
 
  color: slateblue;

 }

 .big
 {
padding-top: 20px;
  font-size: 40px;
  color: black;
 }

 .sec5

 {
margin-left: 17%;
text-align: center;


 }


 table {
 
  width: 70%;

 padding-top: 7%;
}

 

 .BG2{    
  
  background-color: #EBF9F6;
  padding-top: 30%;
  margin-left: 8%;
      height: 40%;
    width: 85%;
    

 }
 .Stories{

margin-top: -25%;
margin-left: 5%;
font-size: 50px;



 }

  .Stories1{

margin-top: 1%;
margin-left: 5%;
font-size: 24px;



 }
 .BG2Right{

margin-top: -14%;
margin-left: 50%;
font-size: 24px;


 }

 .BG2Right1{


margin-left: 64%;
font-size: 24px;


 }



 .big0
 {
padding-top: 20px;
  font-size: 56px;
  color: black;
 }
  .big1
 {
padding-top: 20px;
  font-size: 21px;
  color: black;
 }



  .sec6one{
  
  margin-left: 26%;
  height: 650px;
  width: 450px;
  background-color: #F4F6F6 ;
font-size: 11px;



}


 .sec6two{

margin-top: -38%;
  margin-left: 57%;
    height: 650px;
    width: 450px;
    background-color: #F4F6F6  ;
   font-size: 11px;

 
}


.sec6Down{

margin-top: 53%;
  margin-left: 40%;
  font-size: 55px;


 

}

.sec6Down2

{

  margin-left: 45%;
  font-size: 15px;

}

.button3
{
  background-color: #4CAF50; 
  color: white; 
   border: 2px solid #4CAF50;
  border-radius: 7px;
margin-top: 7px;
  margin-left: -20%;
}


.button4{

  

  background-color: white; 
  color: black; 
  border: 2px solid #3AAEF5;
  border-radius: 7px;
  
   margin-top: 7px;
  margin-left: -20%;

}

.BG4{    
  
  background-color: #EBF9F6;
  padding-top: 50%;
  margin-left: 8%;
      height: 40%;
    width: 85%;
    

 }

 .FAQ{

margin-top: -50%;
margin-left: 9%;
font-size: 50px;



 }

  .FAQ1{

margin-top: 1%;
margin-left: 9%;
font-size: 24px;



 }

  .FAQ2{

margin-top: -2.3%;
margin-left: 26%;
font-size: 24px;
color: #3AAEF5


 }

  .FAQ3{

margin-top: -2.3%;
margin-left: 53%;
font-size: 24px;



 }

 .sec7{
 padding-top: 8%;
 
  color: #4CAF50;


 }



form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #4CAF50;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}



.nav-links1{
  flex: 1;
  text-align: center;
  margin-top: -70px;
  margin-left: -8%;
}


.nav-links1 ul li{
  list-style: none;
  display: inline-block;
  padding: 7px 15px;
  position: relative;
}

.nav-links1 ul li a{
color:#B2ACAB;
text-decoration: none;
font-size: 22px;

  }

 .Conn{

  text-decoration: none;
   color: #4CAF50;  
  
    font-size:25PX; 
    text-align: left;
margin-top:-6%;
  margin-left: 33px;
}

  .nav-links2
  {
  flex: 1;
  text-align: right;
  margin-top: -85px;
  margin-right: 10%;
}


.nav-links2 ul li{
  list-style: none;
  display: inline-block;

  padding: 7px 15px;
  position: relative;
}

.nav-links2 ul li a{
color:#B2ACAB;
text-decoration: none;
font-size: 22px;

  }

   .BG7{    
  
  background-color: #EBF9F6;
padding: 90px;
  
    

 }